extends layout

block content
	.row
		.col-md-4
			ul.nav.navbar-nav
				li
					a(href='/profile') Edit Profile
		.col-md-8
			.container
				form.form-horizontal(role='form',action='/password',method='post')
					h2.form-signin-heading.text-muted Change Password
					.form-group
						label.col-lg-2.control-label.jumbotron-fs-deactivate(for='inputPwd1') Current Password
						.col-lg-10
							input.form-control#inputPwd1(type='password',name='currentpassword',placeholde='Current Password')
					.form-group
						label.col-lg-2.control-label.jumbotron-fs-deactivate(for='inputPwd2') Password
						.col-lg-10
							input.form-control#inputPwd2(type='password',name='password',placeholde='Password')
					.form-group
						label.col-lg-2.control-label.jumbotron-fs-deactivate(for='inputPwd3') Re-type Password
						.col-lg-10
							input.form-control#inputPwd3(type='password',name='repassword',placeholde='Re-type Password')
					.form-group
						.col-lg-offset-2.col-lg-10
							button.btn.btn-default(type='submit') Submit

				if success
					.alert.alert-success.alert-dismissable
						button.close(type='button',data-dismiss='alert',aria-hidden='true') &times;
						strong Success! #{message}
				if error
					.alert.alert-danger.alert-dismissable
						button.close(type='button',data-dismiss='alert',aria-hidden='true') &times;
						strong Error! #{message}